.csv-export {
  float: right;
  margin-right: 40px;
  margin-top: 30px;
  font-size: 14px;
  font-weight: 500;
  height: 52px;
  line-height: 20px;
  padding: 0 10px;
  border-radius: 5px;
  color: #3f51b5;
  text-transform: uppercase;
  text-decoration: none;
  transition: all 0.3s ease 0s;
}
